# Kelompok 1 (Kelas 3A)

1. Puput Hanifah Nuranisa (11210940000017)
2. Siti Nurcholisah Dwi Rizky (
3. Syarifah Syila Alkadrie
4. Ananda Aprilia
5. Antya Alhikmah

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mp
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [ ]:
# Loading Data:

try: # Running Locally, yakinkan "file_" berada di folder "data"
    dfJ = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    dfD = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    dfT = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
except: # Running in Google Colab
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/jakarta.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/depok.csv
    !wget -P data/ https://raw.githubusercontent.com/taufiksutanto/EDA-Case-01-PreProcessing/master/data/tangerang.csv
    dfJ = pd.read_csv("data/jakarta.csv", low_memory = False, encoding='utf8')
    dfD = pd.read_csv("data/depok.csv", low_memory = False, encoding='utf8')
    dfT = pd.read_csv("data/tangerang.csv", low_memory = False, encoding='utf8')
    
dfJ.shape, dfD.shape, dfT.shape

In [ ]:
dfJ

In [ ]:
dfD

In [ ]:
dfT

# **A. Gabungkan Data dfJ dan dfD**

In [ ]:
JD = pd.concat([dfJ, dfD])
JD

# **Preprocessing**

#1. Missing Value

In [ ]:
JD.isnull().sum()

Karena pada Unnamed 14-25 terdapat lebih Missing Value maka kita hilangkan kolom Unnamed 14-25 tersebut menggunakan drop

In [ ]:
MV = JD.dropna(axis=1, how='all')
MV

In [ ]:
mean = MV["harga"].mean()
MV["harga"] = MV["harga"].replace(np.nan, mean)
MV

#2. Duplicated Data

Mengecek data duplikat

In [ ]:
print(MV.shape)
MV.duplicated().sum() #melihat jumlah duplicated data pada JD (Data Gabungan Jakarta Depok)

Karena adanya duplikat data pada Data JD maka dilakukan drop data untuk menghilangkan data yang duplikat

In [ ]:
#menghapus entri yang memiliki data duplikat 
MV.drop_duplicates(inplace=True)
print(MV.duplicated().sum()) # menghitung jumlah data yang duplikat
print(MV.shape) # re-check by printing data size

#3. Outlier

In [ ]:
#outlier pada kolom wind_speed
# Deteksi Outlier menggunakan nilai IQR

Q1 = MV.harga.quantile(0.25)
Q3 = MV.harga.quantile(0.75)
IQR = Q3 - Q1
print('Q1 =', Q1)
print('Q2 =', Q3)
print('IQR =', IQR)

In [ ]:
# Menentukan batas bawah dan batas atas

batasBawah = Q1 - (1.5 * IQR)
batasAtas = Q3 + (1.5 * IQR)
print('batas bawah =', batasBawah)
print('batas atas =', batasAtas)

In [ ]:
#Mengecek outlier menggunakan visualisasi boxplot
fig, ax = plt.subplots(figsize = (15,4))
sns.boxplot(x = MV.harga).set_title('Harga Boxplot')

In [ ]:
# Deteksi Outlier menggunakan nilai IQR
Q1 = MV.harga.quantile(0.25)
Q3 = MV.harga.quantile(0.75)
IQR = Q3 - Q1
print('Q1 =', Q1)
print('Q2 =', Q3)
print('IQR =', IQR)

In [ ]:
# Menentukan batas bawah dan batas atas

batasBawah = Q1 - (1.5 * IQR)
batasAtas = Q3 + (1.5 * IQR)
print('batas bawah =', batasBawah)
print('batas atas =', batasAtas)

In [ ]:
# handle outlier dengan replace menggantinya dengan nilai mean

MV['harga'] = MV.harga.mask(MV.harga > batasAtas, MV.harga.mean())
MV['harga'] = MV.harga.mask(MV.harga < batasBawah, MV.harga.mean())
fig, ax = plt.subplots(figsize = (15,7))
fig = sns.boxplot(x = MV.harga).set_title('Harga Boxplot')

#4. Statistika Deskriptif

In [ ]:
MV.describe(include='all')

# **B. Gabungkan Data dfJ dan dfT**

In [ ]:
JT = pd.concat([dfJ, dfT])
JT

#1. Missing Value

In [ ]:
JT.isnull().sum()

Karena pada Unnamed14-25 terdapat lebih dari 50% Missing Value maka kita hilangkan kolom Unnamed14-25 tersebut menggunakan drop

In [ ]:
MK = JT.dropna(axis=1, how='all')
MK

#2. Duplicate Data

In [ ]:
print(MK.shape)
MK.duplicated().sum() #melihat jumlah duplicated data pada Data JT (Gabungan data Jakarta Tangerang)

In [ ]:
#menghapus entri yang memiliki data duplikat 
MK.drop_duplicates(inplace=True)
print(MK.duplicated().sum()) # menghitung jumlah data yang duplikat
print(MK.shape) # re-check by printing data size

#3. Outlier

a. Outlier pada kolom harga

In [ ]:
fig, ax = plt.subplots(figsize = (14,6))
sns.boxplot(x = MK.harga).set_title('Harga')

In [ ]:
# Deteksi Outlier menggunakan nilai IQR

Q1 = MK.harga.quantile(0.25)
Q3 = MK.harga.quantile(0.75)
IQR = Q3 - Q1
print('Q1 =', Q1)
print('Q2 =', Q3)
print('IQR =', IQR)

In [ ]:
# Menentukan batas bawah dan batas atas

batasBawah = Q1 - (1.5 * IQR)
batasAtas = Q3 + (1.5 * IQR)
print('batas bawah =', batasBawah)
print('batas atas =', batasAtas)

In [ ]:
# handle outlier dengan replace menggantinya dengan nilai mean

MK['Harga'] = MK.harga.mask(MK.harga > batasAtas, MK.harga.mean())
MK['Harga'] = MK.harga.mask(MK.harga < batasBawah, MK.harga.mean())
fig, ax = plt.subplots(figsize = (15,7))
fig = sns.boxplot(x = MK.harga).set_title('Hargat Boxplot')

#4. Statistika Deskriptif

In [ ]:

MK.describe()

,LT,LB,KT,KM,garasi,carport,listrik,harga,Harga
count,245.000000,245.000000,245.000000,245.000000,82.000000,182.000000,231.000000,2.450000e+02,2.450000e+02
mean,224.844898,239.004082,3.804082,3.032653,2.024390,1.780220,4722.077922,4.437963e+09,4.437963e+09
std,329.023469,277.110345,1.612701,1.549377,1.684905,1.360876,7389.109908,1.200940e+10,1.200940e+10
min,16.000000,21.000000,1.000000,1.000000,1.000000,1.000000,900.000000,9.500000e+01,9.500000e+01
25%,90.000000,88.000000,3.000000,2.000000,1.000000,1.000000,2200.000000,1.950000e+03,1.950000e+03
50%,144.000000,154.000000,3.000000,3.000000,1.500000,1.000000,2200.000000,1.550000e+04,1.550000e+04
75%,250.000000,300.000000,5.000000,4.000000,2.000000,2.000000,4400.000000,3.400000e+09,3.400000e+09
max,3422.000000,2500.000000,10.000000,10.000000,10.000000,10.000000,66000.000000,1.050000e+11,1.050000e+11

In [ ]:
# Statistika Sederhana dari data "Numerik"-nya
MK.describe(include='all')

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga,URL,deskripsi,Harga
count,245,245.000000,245.000000,245.000000,245.000000,82.000000,182.000000,245,241,231.000000,85,2.450000e+02,245,236,2.450000e+02
unique,22,NaN,NaN,NaN,NaN,NaN,NaN,46,9,NaN,12,NaN,244,223,NaN
top,12-06-2021,NaN,NaN,NaN,NaN,NaN,NaN,"BSD, TANGERANG",SHM,NaN,Utara,NaN,https://www.rumah.com/listing-properti/dijual-...,Dekat dengan berbagai fasilitas seperti :\nSek...,NaN
freq,102,NaN,NaN,NaN,NaN,NaN,NaN,27,186,NaN,28,NaN,2,8,NaN
mean,NaN,224.844898,239.004082,3.804082,3.032653,2.024390,1.780220,NaN,NaN,4722.077922,NaN,4.437963e+09,NaN,NaN,4.437963e+09
std,NaN,329.023469,277.110345,1.612701,1.549377,1.684905,1.360876,NaN,NaN,7389.109908,NaN,1.200940e+10,NaN,NaN,1.200940e+10
min,NaN,16.000000,21.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,900.000000,NaN,9.500000e+01,NaN,NaN,9.500000e+01
25%,NaN,90.000000,88.000000,3.000000,2.000000,1.000000,1.000000,NaN,NaN,2200.000000,NaN,1.950000e+03,NaN,NaN,1.950000e+03
50%,NaN,144.000000,154.000000,3.000000,3.000000,1.500000,1.000000,NaN,NaN,2200.000000,NaN,1.550000e+04,NaN,NaN,1.550000e+04
75%,NaN,250.000000,300.000000,5.000000,4.000000,2.000000,2.000000,NaN,NaN,4400.000000,NaN,3.400000e+09,NaN,NaN,3.400000e+09
max,NaN,3422.000000,2500.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,66000.000000,NaN,1.050000e+11,NaN,NaN,1.050000e+11

# Kesimpulan